@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  /* font */
  --font-grotesk: "Host Grotesk", sans-serif;

  /* colors */
  --color-primary: #111439;
  --color-secondary: #635bff;
  --color-skyBlue: #00d4ff;
  --color-deepBlue: #0a2540;
}
